<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Corretor de Prova</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <meta name="author" content="Dereck Brian">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h3>Coloque seus Arquivos</h3>
        <div class="drag-area">
            <div class="icon">
                <i class="fas fa-images"></i>
            </div>

            <span class="header"> Arraste & Solte</span>
            <span class="header">ou <span class="button">Pesquise</span></span>
        </div>
    </div>

    <script src="js/main.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>